.slider-certificates{

    & .slick-slide img{
        width: 100%;
    }

    &__inline{
        line-height: 1;
    }

    & .figure{
        margin-bottom: 0;
    }

    @include controls-edges(2.5rem, 50%, -2rem, unset, -2rem, '\f054', '\f053');
}
