.slider-images{
    &__slide{
        object-fit: contain;
        height: 18.75rem;
        @include media-breakpoint-up(lg){
            height: 12.5rem;
        }@include media-breakpoint-up(xxl){
            height: 13.5rem;
        }
    }

    & .slick-slide img{
        width: auto;
    }

    & .figure{
        margin-bottom: 0;
        height: 100%;
    }

    @include controls-edges(2.5rem, 50%, -2rem, unset, -2rem, '\f054', '\f053');
}


